<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_etechflow_seonav">
        <observer name="etechflow_seonav_admin_gate"
                  instance="ETechFlow\SeoLayeredNav\Observer\AdminGate"/>
    </event>
    <event name="controller_action_predispatch_etechflow_seonav_alias_index">
        <observer name="etechflow_sln_update_notification_alias"
                  instance="ETechFlow\SeoLayeredNav\Observer\AddUpdateNotification"/>
    </event>
    <event name="controller_action_predispatch_etechflow_seonav_license_gate">
        <observer name="etechflow_sln_update_notification_gate"
                  instance="ETechFlow\SeoLayeredNav\Observer\AddUpdateNotification"/>
    </event>
    <event name="controller_action_predispatch_adminhtml_system_config_edit">
        <observer name="etechflow_sln_update_notification_sysconfig"
                  instance="ETechFlow\SeoLayeredNav\Observer\AddUpdateNotification"/>
    </event>
</config>
